.makeADonation {
    align-self: stretch;
    position: relative;
    line-height: 52px;
}
.semenggohNatureReserve {
    width: 856px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    height: 77px;
    flex-shrink: 0;
}
.text {
    align-self: stretch;
    height: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    color: #757575;
    font-family: Inter;
}
.legend {
    width: 856px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    font-size: 45px;
    font-family: 'Hedvig Letters Serif';
}
.legend1 {
    width: 856px;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 30px;
    font-family: 'Hedvig Letters Serif';
}
.fullName {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}
.value {
    flex: 1;
    position: relative;
    line-height: 100%;
}
.input {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    min-width: 240px;
    color: #b3b3b3;
}
.error {
    position: relative;
    line-height: 140%;
    display: none;
}
.inputField {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.location {
    align-self: stretch;
    position: relative;
    line-height: 140%;
    z-index: 0;
}
.value1 {
    flex: 1;
    position: relative;
    line-height: 100%;
    z-index: 0;
}
.chevronDownIcon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}
.helloWorld {
    position: relative;
    line-height: 140%;
    font-weight: 600;
}
.option2 {
    position: relative;
    line-height: 140%;
}
.options {
    margin: 0 !important;
    position: absolute;
    top: 8px;
    left: 8px;
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
    z-index: 2;
}
.select {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 12px 12px 16px;
    position: relative;
    gap: 8px;
    min-width: 240px;
    z-index: 1;
}
.selectField {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 8px;
}
.value3 {
    flex: 1;
    position: relative;
    line-height: 140%;
    z-index: 0;
}
.dragIcon {
    width: 6.6px;
    position: absolute;
    margin: 0 !important;
    right: 5.05px;
    bottom: 6.05px;
    height: 6.6px;
    z-index: 1;
}
.textarea {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 16px;
    position: relative;
    min-width: 240px;
    min-height: 80px;
    color: #b3b3b3;
}
.hint {
    width: 240px;
    position: relative;
    line-height: 140%;
    color: #757575;
    display: none;
}
.cardNumber1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    line-height: 140%;
    display: inline-block;
}
.input2 {
    position: absolute;
    top: 30.5px;
    left: -0.5px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 468px;
    height: 46px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    min-width: 240px;
    color: #b3b3b3;
}
.cardNumber {
    width: 467px;
    position: relative;
    height: 88px;
    z-index: 0;
}
.input3 {
    position: absolute;
    top: 29.5px;
    left: -0.5px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 327px;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    min-width: 240px;
    color: #b3b3b3;
}
.securityCode {
    width: 353px;
    position: absolute;
    margin: 0 !important;
    top: -1px;
    left: 572px;
    height: 77px;
    z-index: 1;
}
.inputField2 {
    align-self: stretch;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 8px;
}
.input4 {
    position: absolute;
    top: 30.5px;
    left: -0.5px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 423px;
    height: 49px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    min-width: 240px;
    color: #b3b3b3;
}
.input5 {
    position: absolute;
    top: 29.5px;
    left: -0.5px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 401px;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    min-width: 240px;
    color: #b3b3b3;
}
.securityCode2 {
    width: 458px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 499px;
    height: 77px;
    z-index: 1;
}
.checkIcon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.checkbox {
    width: 16px;
    border-radius: 4px;
    background-color: #2c2c2c;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.iAcceptThe {
    flex: 1;
    position: relative;
    line-height: 140%;
}
.checkboxAndLabel {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.readOurTcs {
    flex: 1;
    position: relative;
    text-decoration: underline;
    line-height: 140%;
}
.descriptionRow {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: #757575;
}
.checkboxField {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.button {
    width: 112px;
    border-radius: 8px;
    height: 40px;
    overflow: hidden;
    display: none;
}
.button2 {
    position: relative;
    line-height: 100%;
}
.button1 {
    flex: 1;
    border-radius: 8px;
    background-color: #2c2c2c;
    border: 1px solid #2c2c2c;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.buttonGroup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    color: #f5f5f5;
}
.donation {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
    min-width: 320px;
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
    font-family: Inter;
}