.testimonialCardIcon {
    width: 325px;
    border-radius: 8px;
    height: 171px;
    object-fit: cover;
    min-width: 300px;
}
.testimonialCardIcon4 {
    width: 326px;
    border-radius: 8px;
    height: 171px;
    object-fit: cover;
    min-width: 300px;
}
.testimonialCardIcon5 {
    width: 320px;
    border-radius: 8px;
    height: 171px;
    object-fit: cover;
    min-width: 300px;
}
.testimonialCardIcon6 {
    flex: 1;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
    height: 147px;
    object-fit: cover;
    min-width: 300px;
}
.testimonialCardIcon7 {
    width: 326px;
    border-radius: 8px;
    height: 147px;
    object-fit: cover;
    min-width: 300px;
}
.cardGrid {
    width: 1072px;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 48px;
}
.cardGridTestimonials {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    height: 712px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 64px;
    box-sizing: border-box;
}