.sfcLogoIcon {
	width: 60px;
	position: relative;
	height: 85px;
}
  
.navigationPill {
	border-radius: 8px;
	background-color: transparent;
	color: #f5f5f5;
	padding: 8px;
	font-family: Cinzel;
	cursor: pointer;
	border: none;
	text-align: center;
	transition: background-color 0.3s ease;
	font-size: 14px;
}
  
.navigationPill:hover {
	background-color: #555;
}
  
.navigationPillList {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 8px;
}
  
.button {
	flex: 1;
	border-radius: 8px;
	background-color: #303030;
	border: 1px solid #949494;
	padding: 8px;
	cursor: pointer;
	color: #fff;
	font-family: Cinzel;
	transition: background-color 0.3s ease;
	font-size: 14px;
}
  
.button:hover {
	background-color: #404040;
}
  
.button2 {
	flex: 1;
	border-radius: 8px;
	background-color: #f5f5f5;
	border: 1px solid #f5f5f5;
	padding: 8px;
	cursor: pointer;
	color: #1e1e1e;
	font-family: Cinzel;
	transition: background-color 0.3s ease;
	font-size: 14px;
}
  
.button2:hover {
	background-color: #e0e0e0;
}
  
.headerAuth {
	width: 178px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
}

.header {
	position: relative;
	background-color: #1e1e1e;
	border-bottom: 1px solid #444;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 32px;
	gap: 24px;
	color: #fff;
	font-family: Cinzel;
}  