@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.title {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.03em;
    line-height: 120%;
    text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.subtitle {
    align-self: stretch;
    position: relative;
    font-size: 32px;
    line-height: 120%;
    font-family: 'Hedvig Letters Serif';
    text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.textContentTitle {
    margin: 0 !important;
    position: absolute;
    top: 155px;
    left: 727px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    z-index: 0;
}

.contactBanner {
    width: 100%;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 442px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('/images/Contact Image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;
}

.contactForm1 {
    align-self: stretch;
    position: relative;
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
}

.label {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}

.value {
    flex: 1;
    position: relative;
    line-height: 100%;
}

.input {
    align-self: stretch;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: 1px solid #949494;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    min-width: 240px;
    color: #b2b2b2;
}

.inputField {
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.inputField2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.value3 {
    flex: 1;
    position: relative;
    line-height: 140%;
    z-index: 0;
}

.textarea {
    align-self: stretch;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: 1px solid #757575;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 16px;
    position: relative;
    min-width: 240px;
    min-height: 80px;
    color: #b2b2b2;
}

.button1 {
    position: relative;
    line-height: 100%;
}

.button {
    flex: 1;
    border-radius: 8px;
    background-color: #1e1e1e;
    border: 1px solid #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.buttonGroup {
    width: 272px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #f5f5f5;
}

.contactForm {
    position: absolute;
    height: 100%;
    top: 0%;
    bottom: 0%;
    left: 0px;
    border-radius: 4px 0px 0px 4px;
    background-color: #f5f5f5;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
    min-width: 320px;
}

.contactDetails1 {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
}

.contactDetailsTitle {
    position: absolute;
    height: 14.05%;
    width: 100.31%;
    top: -0.18%;
    right: -0.31%;
    bottom: 86.13%;
    left: 0%;
    border-radius: 0px 4px 0px 0px;
    background-color: #a67b52;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
}

.phone {
    margin: 0;
}

.contactInformation {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.lineSeparatorIcon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    stroke: #FFFFFF;
    stroke-width: 4px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 1));
}

.contactDetails2 {
    position: absolute;
    height: 86.49%;
    width: 100.31%;
    top: 13.69%;
    right: -0.31%;
    bottom: -0.18%;
    left: 0%;
    border-radius: 0px 0px 4px 0px;
    background-color: #f5e2c9;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
}

.contactDetails {
    position: absolute;
    height: 99.64%;
    width: 50%;
    top: 0.18%;
    right: 0%;
    bottom: 0.18%;
    left: 50%;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.fullContactForm {
    width: 640px;
    position: absolute;
    margin: 0 !important;
    top: 345px;
    left: 640px;
    height: 557px;
    z-index: 1;
    text-align: left;
    font-size: 16px;
    font-family: 'Inter';
}

.contactSection {
    width: 100%;
    position: relative;
    background-color: #1e1e1e;
    height: 1082px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 24px;
    box-sizing: border-box;
    gap: 32px;
    text-align: center;
    font-size: 72px;
    color: #1e1e1e;
    font-family: Cinzel;
}